<nav class="navbar navbar-inverse navbar-collapse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> PollyPy </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'pollyupload:index' %}">Home</a></li>
                <li><a href="{% url 'pollyupload:tv' %}">TV</a></li>
                <li><a href="{% url 'pollyupload:movie' %}">Film</a></li>

            </ul>
        </div>
    </div>
</nav>