{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} PollyPy{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-collapse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> PollyPy </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/upload/tv">TV</a></li>
                <li><a href="/upload/movie">Film</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block mainbody %}
        Content
    {% endblock %}
</div>
</body>
</html>
