{% extends 'main_template.html' %}

{% block title %}
    {{ block.super }} - {{ formtype }}
{% endblock %}

{% block mainbody %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Please do the needful
        </div>

        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button name="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}